PORT=8000
MONGODB_URI=mongodb://asfaankhan07_db_user:qF5BD0Qql8TwWrqm@ac-qfy6vvd-shard-00-00.jvxk9ed.mongodb.net:27017,ac-qfy6vvd-shard-00-01.jvxk9ed.mongodb.net:27017,ac-qfy6vvd-shard-00-02.jvxk9ed.mongodb.net:27017/?ssl=true&replicaSet=atlas-ancc3u-shard-0&authSource=admin&appName=Cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=a7f3c9d1e8b24f6a9c1d3e7f5b8a2c4d6e9f1a3b5c7d9e2f4a6b8c0d1e3f5a7
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=f9e2d4c6b8a0f1e3d5c7b9a2e4f6c8d1b3a5e7f9c2d4b6a8e0f1c3d5b7a9e2
REFRESH_TOKEN_EXPIRY=